In [1]:
import pandas as pd
import shutil
import os
import zipfile

In [44]:
path = 'Data/'
i = 0
for fn in os.listdir(path):
    i += 1
    if fn.startswith('On_Time_On_Time_Performance_2017'):
        print('(%d/%d) %s' % (i, len(os.listdir(path)), fn))
        zip = zipfile.ZipFile(path+fn)  
        zip.extractall(path + 'output')
        df = pd.read_csv(path + 'output/' + fn.replace('.zip', '.csv'))
        shutil.rmtree(path + 'output', )
        base_row_count = len(df)
        df.dropna(subset=['ArrDelay'], inplace=True)
        print("Dropped %d Rows (%0.4f%%)." % (base_row_count - len(df), (base_row_count-len(df))/base_row_count*100))
        print('-----')
        break

(19/95) On_Time_On_Time_Performance_2017_3.zip

/home/chrisgiler/anaconda3/lib/python3.5/site-packages/IPython/core/interactiveshell.py:2717: DtypeWarning: Columns (48,77,84) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

Dropped 9443 Rows (1.9327%).
-----

In [45]:
def create_ids(data):
    ids = (data['FlightDate'].apply(lambda x: str(x).replace('-','_')) + 
           data['AirlineID'].apply(str) + 
           data['ArrTime'].apply(lambda x: str(x).split('.')[0]) + 
           data['DestAirportID'].apply(str) + 
           data['OriginAirportID'].apply(str) + 
           data['TailNum'].apply(str))
    return ids

In [46]:
df['id'] = create_ids(df)

In [47]:
ids_are_unique = len(df['id']) == len(pd.unique(df['id']))
ids_are_unique

True

In [54]:
df['FlightDate'] = pd.to_datetime(df['FlightDate'])

In [57]:
df.sort_values('FlightDate').head()

,Year,Quarter,Month,DayofMonth,DayOfWeek,FlightDate,UniqueCarrier,AirlineID,Carrier,TailNum,...,Div5Airport,Div5AirportID,Div5AirportSeqID,Div5WheelsOn,Div5TotalGTime,Div5LongestGTime,Div5WheelsOff,Div5TailNum,Unnamed: 109,id
208826,2017,1,3,1,3,2017-03-01,EV,20366,EV,N16976,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2017_03_012036614581226615370N16976
24835,2017,1,3,1,3,2017-03-01,AA,19805,AA,N993AA,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2017_03_011980523151393012892N993AA
24773,2017,1,3,1,3,2017-03-01,AA,19805,AA,N4YFAA,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2017_03_011980521121143313930N4YFAA
24742,2017,1,3,1,3,2017-03-01,AA,19805,AA,N3BKAA,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2017_03_011980522141129814908N3BKAA
24711,2017,1,3,1,3,2017-03-01,AA,19805,AA,N3ASAA,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2017_03_011980513091426213930N3ASAA

In [41]:
data['FlightDate'].apply(lambda x: str(x).replace('-','_'))[0]

'2010_01_09'

In [42]:
data['AirlineID'][0]

20363

In [43]:
data['ArrTime'].apply(str).split('.')[0][0]

AttributeError: 'Series' object has no attribute 'split'