In [1]:
import pandas as pd
import shutil
import os
import zipfile

In [11]:
path = 'Data/'
i = 0
for fn in os.listdir(path):
    i += 1
    if fn.startswith('On_Time_On_Time_Performance_2010'):
        print('(%d/%d) %s' % (i, len(os.listdir(path)), fn))
        zip = zipfile.ZipFile(path+fn)  
        zip.extractall(path + 'output')
        df = pd.read_csv(path + 'output/' + fn.replace('.zip', '.csv'))
        shutil.rmtree(path + 'output', )
        base_row_count = len(df)
        df.dropna(subset=['ArrDelay'], inplace=True)
        print("Dropped %d Rows (%0.4f%%)." % (base_row_count - len(df), (base_row_count-len(df))/base_row_count*100))
        print('-----')
        break

(27/96) On_Time_On_Time_Performance_2010_9.zip

/home/chrisgiler/anaconda3/lib/python3.5/site-packages/IPython/core/interactiveshell.py:2717: DtypeWarning: Columns (48,77,84) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

Dropped 5832 Rows (1.1085%).
-----

In [12]:
def create_ids(data):
    ids = (data['FlightDate'].apply(lambda x: str(x).replace('-','_')) + 
           data['AirlineID'].apply(str) + 
           data['ArrTime'].apply(lambda x: str(x).split('.')[0]) + 
           data['DestAirportID'].apply(str) + 
           data['OriginAirportID'].apply(str) + 
           data['TailNum'].apply(str))
    return ids

In [13]:
df['id'] = create_ids(df)

In [14]:
ids_are_unique = len(df['id']) == len(pd.unique(df['id']))
ids_are_unique

True

In [15]:
df['FlightDate'] = pd.to_datetime(df['FlightDate'])

In [16]:
df.sort_values('FlightDate').head()

,Year,Quarter,Month,DayofMonth,DayOfWeek,FlightDate,UniqueCarrier,AirlineID,Carrier,TailNum,...,Div5Airport,Div5AirportID,Div5AirportSeqID,Div5WheelsOn,Div5TotalGTime,Div5LongestGTime,Div5WheelsOff,Div5TailNum,Unnamed: 109,id
263222,2010,3,9,1,3,2010-09-01,MQ,20398,MQ,N720MQ,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2010_09_01203989171069311278N720MQ
356535,2010,3,9,1,3,2010-09-01,US,20355,US,N754UW,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2010_09_012035519591105711278N754UW
356536,2010,3,9,1,3,2010-09-01,US,20355,US,N752US,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2010_09_01203556561105711278N752US
356537,2010,3,9,1,3,2010-09-01,US,20355,US,N753US,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2010_09_012035510151105711278N753US
356538,2010,3,9,1,3,2010-09-01,US,20355,US,N737US,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2010_09_012035511321105711278N737US

In [22]:
len(df[df['Origin'] == 'STL'])

4639

In [9]:
for name in df.columns:
    print(name, df[name][0])

Year 2017
Quarter 1
Month 3
DayofMonth 9
DayOfWeek 4
FlightDate 2017-03-09 00:00:00
UniqueCarrier AA
AirlineID 19805
Carrier AA
TailNum N3AVAA
FlightNum 2264
OriginAirportID 11298
OriginAirportSeqID 1129804
OriginCityMarketID 30194
Origin DFW
OriginCityName Dallas/Fort Worth, TX
OriginState TX
OriginStateFips 48
OriginStateName Texas
OriginWac 74
DestAirportID 14262
DestAirportSeqID 1426204
DestCityMarketID 34262
Dest PSP
DestCityName Palm Springs, CA
DestState CA
DestStateFips 6
DestStateName California
DestWac 91
CRSDepTime 1100
DepTime 1052.0
DepDelay -8.0
DepDelayMinutes 0.0
DepDel15 0.0
DepartureDelayGroups -1.0
DepTimeBlk 1100-1159
TaxiOut 30.0
WheelsOff 1122.0
WheelsOn 1153.0
TaxiIn 6.0
CRSArrTime 1207
ArrTime 1159.0
ArrDelay -8.0
ArrDelayMinutes 0.0
ArrDel15 0.0
ArrivalDelayGroups -1.0
ArrTimeBlk 1200-1259
Cancelled 0.0
CancellationCode nan
Diverted 0.0
CRSElapsedTime 187.0
ActualElapsedTime 187.0
AirTime 151.0
Flights 1.0
Distance 1126.0
DistanceGroup 5
CarrierDelay nan
WeatherDelay nan
NASDelay nan
SecurityDelay nan
LateAircraftDelay nan
FirstDepTime nan
TotalAddGTime nan
LongestAddGTime nan
DivAirportLandings 0
DivReachedDest nan
DivActualElapsedTime nan
DivArrDelay nan
DivDistance nan
Div1Airport nan
Div1AirportID nan
Div1AirportSeqID nan
Div1WheelsOn nan
Div1TotalGTime nan
Div1LongestGTime nan
Div1WheelsOff nan
Div1TailNum nan
Div2Airport nan
Div2AirportID nan
Div2AirportSeqID nan
Div2WheelsOn nan
Div2TotalGTime nan
Div2LongestGTime nan
Div2WheelsOff nan
Div2TailNum nan
Div3Airport nan
Div3AirportID nan
Div3AirportSeqID nan
Div3WheelsOn nan
Div3TotalGTime nan
Div3LongestGTime nan
Div3WheelsOff nan
Div3TailNum nan
Div4Airport nan
Div4AirportID nan
Div4AirportSeqID nan
Div4WheelsOn nan
Div4TotalGTime nan
Div4LongestGTime nan
Div4WheelsOff nan
Div4TailNum nan
Div5Airport nan
Div5AirportID nan
Div5AirportSeqID nan
Div5WheelsOn nan
Div5TotalGTime nan
Div5LongestGTime nan
Div5WheelsOff nan
Div5TailNum nan
Unnamed: 109 nan
id 2017_03_091980511591426211298N3AVAA

In [11]:
pd.unique(df['ArrivalDelayGroups'])

array([ -1.,   0.,  -2.,   2.,   1.,   7.,   3.,   4.,   5.,   6.,   8.,
         9.,  12.,  10.,  11.])

In [41]:
data['FlightDate'].apply(lambda x: str(x).replace('-','_'))[0]

'2010_01_09'

In [42]:
data['AirlineID'][0]

20363

In [43]:
data['ArrTime'].apply(str).split('.')[0][0]

AttributeError: 'Series' object has no attribute 'split'